.first-section{

 background-image: url('/images/image1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

    padding: 4rem 0rem;
        color: azure;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: row;
        font-weight: 100;
       
}
.first-width{
    text-align: center;
    max-width: 1370px;    
    display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: row;
        font-weight: 100;
}

.first-content {   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.first-width h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    max-width: 700px;
    font-size: 4rem;
}
.first-width p{
    color:#e91e63;
    padding: 2rem 0rem;
    max-width: 700px;
    font-size: 1.3rem;
}




.second-section{   
background-color: #000000;
padding: 2rem 0rem;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-content{     
        max-width: 1370px;        
        color: azure;
}

.create-blog{
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-content h1{
    font-weight: 100;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align:center;
}
.create-left{

    width: 30%;
}

.create-left img{
    width: 100%;
}
.create-right{

 width: 70%;
}
.create-right a{
   text-decoration: none;
   color:#e91e63;
   }
.create-right h1{
    text-align:left;
}




.phone-section{   
    background-color: #24262b;
    padding: 2rem 0rem;
        color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .phone-content{     
            max-width: 1370px;        
            color: azure;
    }
.phone-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24262b;
}

.phone-left{
    background-color: #24262b;
    width: 30%;
}

.phone-left img{
    width: 100%;
}
.phone-right{
 background-color: #24262b;
 width: 70%;
 padding: 0rem 0rem 0rem 1rem;
}
.phone-right a{
   text-decoration: none;
   color:#e91e63;

   }
.phone-right h1{
    text-align:left;
    padding: 2rem 0rem;
    
}




.third-section{   
    background-color: #000000;
    padding: 5rem 0rem;
        color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .third-content{     
            max-width: 1370px;        
            color: azure;
    }

    

.trusted-container{
background-color: #000000;
padding: 5rem 0rem;
display: flex;
align-items: center;
justify-content: center;
}

.trusted-by{   
color: azure;
display: flex;
justify-content:center;
flex-direction: column;
max-width: 1370px;
}
.trusted-h1{
    text-align: left;
    font-weight: 100;
    font-size: 2rem;
}
.trusted-content{
    padding: 1rem 2rem 1rem 0rem;

}
.trusted-content img{
    height: 100px;
    padding:2rem 0rem 0rem 0rem;
}





.get-started{   
    background-color: #000000;
    padding: 2rem 0rem;
        color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .started-content{     
            max-width: 1370px;        
            color: azure;
            display: flex;
            align-items: center;
            flex-direction: column;
    }
    .started-content h1{
        font-weight: 100;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align:center;
    }

    .started-content a{
        padding: 0.5rem 1rem;
       background-color: #e91e63;
       text-decoration: none;
       color:#ffffff;
       border-radius: 0.3rem;
       }
