header{
    position: sticky;
    top: 0; 
    box-shadow: 0px 0px 300px #000000c9; 
    z-index: 20000000000;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #24262b;
  color: white;
  padding: 0.2rem 2rem;
  position: relative;
}


.nav-ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0.4rem;
    
  }

.nav-li {
    float: left;
  }

.nav-li a {
  display: block;
  text-align: center;
  padding: 0.3rem 1rem;
  text-decoration: none;
  color: white;
  font-weight: 100;
}


nav li a:hover {
  background-color: #ec0653;
  border-radius: 0.3rem;
}

.logo{
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}
.logo img{
height: 30px;
}

#about-us{
  background-color: #b1b1b1;
  border-radius: 0.2rem;
}
#about-us :hover{
  background-color:#ec0653 ;
  border-radius: 0.2rem;
}
.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
}
@media only screen and (max-width: 1300px){
  nav{
    padding-left: 0rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 794px){
  nav{
    padding-left: 0rem;
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 668px) {
 
   nav{
    justify-content: space-between;
    padding: 0rem 2rem ;
  }
  .nav-ul {
    display: none; 
    position: absolute;
    right: 0;
    top: 2.84rem;
    min-height: 100%;
    background-color: #333333;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
  }
  .nav-ul a{
    opacity: 0;
  }
  .burger{
    display: block;
    padding: 0.5rem 0rem;
  }
  .nav-li{
    width: 100%;
  }
 
}

@media only screen and (max-width: 668px){
  nav{
    justify-content: space-between;
    padding: 0rem 2rem ;
  }
}
.nav-active{
  transform: translateX(0);
}
@media only screen and (max-width: 460px){
  .nav-ul{
    width: 100%;
  }
}
.nav-active{
  transform: translateX(0);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px );
}